// Alerts =====================================================================

@mixin alert-variant($background, $border, $color) {
  color: var(--color-text);
  background-color: $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }
}

.alert {

  &.alert-primary,
  &.alert-info {
    color: var(--color-text) !important;

    .alert-link {
      color: var(--color-text);
      text-decoration: none;
    }
  }

  .alert-heading {
    font-family: 'RobotoMono-Bold';
  }

  .alert-link {
    font-family: Roboto-Bold;
    text-transform: none;
    text-decoration: none;

    &:hover {
      color: $gray-200;
    }
  }
}
