/* _base.scss */
:root {
    --color-primary: #{$primary};
    --color-secondary: #{$secondary};
    --color-success: #{$success};
    --color-info: #{$info};
    --color-warning: #{$warning};
    --color-danger: #{$danger};
    --color-light: #{$light};
    --color-lighter: #{$gray-300};
    --color-medium: #{$gray-600};
    --color-dark: #{$dark};
    --color-darker: #{$gray-900};

    --color-background: #{$black};
    --color-background-inverse: #{$white};
    --color-text: #{$white};
    --color-text-inverse: #{$black};

    --link-color: #{$white};
    --link-color-hover: #{$gray-600};

    --svg-filter: invert(1);
    --svg-filter-inverse: invert(0);

    --navbar-filter: invert(0);
    --navbar-dropdown-background: #{$black};
    --navbar-dropdown-border-color: #{$black};
    --navbar-dropdown-color: #{$black};
    --navbar-dropdown-color-hover: #{$white};
    --navbar-dropdown-filter: invert(1);
    --navbar-dropdown-filter-hover: invert(0);
    --navbar-link-active-color: #{$gray-700};

    --box-bg-color: #{$white};
    --btn-link-hover: #d9d9d9;
    --emphasis-background-color: #{$gray-800};
    --emphasis-color: #{$gray-200};

    --divider-bar-color: #{$white};
    --divider-bar-color-light: #{$gray-800};

    --form-label-background-color: #{$gray-800};

    --nav-border: #{$white};
    --nav-color: #{$white};
    --nav-active-backround: #{$white};
    --nav-active-color: #{$white};
    --nav-disabled-color: #{$gray-800};

    --list-group-item-background-hover: #{$gray-800};
    --frog-opacity: 1;

    --footer-background-color: #{$gray-900};

    --font-size-details: .8rem;
}

.dark-mode {
    --color-lighter: #{$gray-900};
    --color-light: #{$gray-700};
    --color-medium: #{$gray-600};
    --color-dark: #{$gray-300};
    --color-darker: #{$gray-200};

    --color-background: #{$black};
    --color-background-inverse: #{$white};
    --color-text: #{$white};
    --color-text-inverse: #{$black};

    --link-color: #{$white};
    --link-color-hover: #{$gray-600};

    --svg-filter: invert(1);
    --svg-filter-inverse: invert(0);

    --navbar-filter: invert(1);
    --navbar-dropdown-background: #{$black};
    --navbar-dropdown-border-color: #{$white};
    --navbar-dropdown-color: #{$white};
    --navbar-dropdown-color-hover: #{$black};
    --navbar-dropdown-filter: invert(1);
    --navbar-dropdown-filter-hover: invert(0);
    --navbar-link-active-color: #{$gray-700};

    --box-bg-color: #{$white};
    --btn-link-hover: #d9d9d9;
    --emphasis-background-color: #{$gray-800};
    --emphasis-color: #{$gray-200};

    --divider-bar-color: #{$white};
    --divider-bar-color-light: #{$gray-800};

    --form-label-background-color: #{$gray-800};

    --nav-border: #{$white};
    --nav-border-inverse: #{$black};
    --nav-color: #{$white};
    --nav-active-background: #{$white};
    --nav-active-color: #{$white};
    --nav-disabled-color: #{$gray-600};

    --list-group-item-background-hover: #{$gray-800};
    --frog-opacity: 1;

    --footer-background-color: #{$gray-900};
}

.light-mode {
  	--color-lighter: #{$gray-200};
    --color-light: #{$gray-300};
    --color-medium: #{$gray-600};
    --color-dark: #{$gray-800};
    --color-darker: #{$gray-900};

  	--color-background: #{$white};
    --color-background-inverse: #{$black};
    --color-text: #{$black};
    --color-text-inverse: #{$white};
    
    --link-color: #{$black};
    --link-color-hover: #{$gray-600};

    --svg-filter: invert(0);
    --svg-filter-inverse: invert(1);

    --navbar-filter: invert(0);
    --navbar-dropdown-background: #{$white};
    --navbar-dropdown-border-color: #{$black};
    --navbar-dropdown-color: #{$black};
    --navbar-dropdown-color-hover: #{$white};
    --navbar-dropdown-filter: invert(0);
    --navbar-dropdown-filter-hover: invert(1);
    --navbar-link-active-color: #{$gray-500};

    --box-bg-color: #{$box-bg-color};
    --btn-link-hover: #{$gray-700};
    --emphasis-background-color: #{$gray-200};
    --emphasis-color: #{$gray-900};

    --divider-bar-color: #{$black};
    --divider-bar-color-light: #{$gray-500};

    --form-label-background-color: #{$gray-200};

    --nav-border: #{$black};
    --nav-border-inverse: #{$white};
    --nav-color: #{$black};
    --nav-active-background: #{$black};
    --nav-active-color: #{$black};
    --nav-disabled-color: #{$gray-300};

    --list-group-item-background-hover: #{$gray-200};
    --frog-opacity: 0.9;

    --footer-background-color: #{$gray-200};
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.bg-transparent {
    background-color: transparent !important;
}

