// Buttons ===================================================================

.btn {
    font-family: 'RobotoMono-Regular';
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: .9rem;

    &.btn-sm {
      font-size: .825rem;
    }
}



.btn-primary {
    border: 1px solid var(--color-background-inverse) !important;
    background-color: var(--color-background-inverse) !important;
    color: var(--color-text-inverse) !important;

    &:hover {
        border: 1px solid var(--color-background-inverse) !important;
        background-color: var(--color-text) !important;
        color: var(--color-text-inverse) !important;
    }
}

.btn-primary {
    border: 1px solid var(--color-background-inverse) !important;
    background-color: var(--color-background-inverse) !important;
    color: var(--color-text-inverse) !important;
}

.btn-link {
    color: var(--color-text) !important;

    &:hover {
         color: var(--btn-link-hover) !important;
    }
 }

.btn-outline-primary {
    border: 1px solid var(--color-text) !important;
    background-color: var(--color-background) !important;
    color: var(--color-text) !important;
}

.btn-outline-primary:hover {
    border: 1px solid var(--color-background) !important;
    background-color: var(--color-text) !important;
    color: var(--color-background) !important;
}
