/* Card */
div.card {
    border-bottom: 1px solid var(--color-background-inverse);

    .card-header {
        background-color: transparent !important;
        border-bottom: 1px solid var(--color-background-inverse);
        font-family: 'RobotoMono-Medium';
        font-size: .85rem;
    }

    div.card-body {
        background-color: transparent !important;

        .card-title {
            background-color: transparent;
            color: inherit;
        }

        a.card-link {
            color: var(--color-text) !important;

            &:hover {
                color: var(--color-medium) !important;
            }
        }
    }

    .card-footer {
        background-color: transparent !important;
        border-top: 1px solid var(--color-background-inverse);
    }

    &.bg-primary,
    &.bg-secondary,
    &.bg-success,
    &.bg-danger,
    &.bg-warning,
    &.bg-info,
    &.bg-light,
    &.bg-dark {
        border: 0px solid transparent;

        .card-header {
            background-color: transparent;
            border-bottom: 1px solid var(--color-background);
        }

        .card-footer {
            background-color: transparent;
            border-top: 1px solid var(--color-background);
        }
    }

    &.border-primary {
        color: var(--color-primary);
        .card-header {
            border-bottom: 1px solid var(--color-primary);
        }
    }

    &.border-secondary {
        color: var(--color-secondary);
        .card-header {
            border-bottom: 1px solid var(--color-secondary);
        }
    }

    &.border-success {
        color: var(--color-success);
        .card-header {
            border-bottom: 1px solid var(--color-success);
        }
    }

    &.border-danger {
        color: var(--color-danger);
        .card-header {
            border-bottom: 1px solid var(--color-danger);
            color: var(--color-danger);
        }
    }

    &.border-warning {
        color: var(--color-warning);
        .card-header {
            border-bottom: 1px solid var(--color-warning);
        }
    }

    &.border-info {
        color: var(--color-info);
        .card-header {
            border-bottom: 1px solid var(--color-info);
        }
    }

    &.border-light {
        color: var(--color-light);
        .card-header {
            border-bottom: 1px solid var(--color-light);
            color: var(--color-text);
        }
        .card-body {
            h4.card-title,
            p.card-text {
                color: var(--color-text);
            }
        }
    }

    &.border-dark {
        color: var(--color-dark);
        .card-header {
            border-bottom: 1px solid var(--color-dark);
        }
    }

}
