/* Containers */

/* Jumbotron */
div.jumbotron {
    background-color: var(--color-background-inverse);
    border-radius: 0px;
    color: var(--color-text-inverse);

    h1 {
        color: var(--color-text);
    }

    p {
        color: var(--color-text-inverse);
    }

    p.lead {
        color: var(--color-light);
    }

    hr {
        border-top-color: var(--color-text-inverse);
    }
}
