/* _custom.scss */

/* Full Height */
section.full-height {
    height: 100%;
    border: 0px;

    &.image-left-top,
    &.image-left-center,
    &.image-left-bottom,
    &.image-center-top, 
    &.image-center-center,
    &.image-center-bottom,
    &.image-right-top, 
    &.image-right-center,
    &.image-right-bottom { 
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.image-left-top { 
        background-position: left top;
    }

    &.image-left-center { 
        background-position: left center;
    }

    &.image-left-bottom { 
        background-position: left bottom;
    }

    &.image-center-top { 
        background-position: center top;
    }

    &.image-center-center { 
        background-position: center center;
    }

    &.image-center-bottom { 
        background-position: center bottom;
    }

    &.image-right-top { 
        background-position: right top;
    }

    &.image-right-center { 
        background-position: right center;
    }

    &.image-right-bottom { 
        background-position: right bottom;
    }
}

#switch span {
    display: inline;
    margin: auto;
    padding: 0;
    background-color: transparent;
}

div.boom {

    a.ticker-link {
        background-color: var(--color-background-inverse) !important;
        color: var(--color-text-inverse) !important;
    }
}

div.rip {
    margin-top: 2rem;
    padding: 4rem 0;
    color: var(--color-text-light);

    span {
        font-size: .85rem;
        line-height: 1;
        font-family: 'RobotoMono-Bold', 'Roboto-Bold';
        font-weight: bold;
        background-color: var(--emphasis-background-color);
        color: var(--emphasis-color);
        padding: .5rem .75rem;
        letter-spacing: 4px;
        text-align: center;
    }

    h3 {
        font-family: 'RobotoMono-Bold', 'Roboto-Bold';
        color: var(--color-text);
        text-transform: capitalize;
    }

    img {
        height: 200px;
        opacity: var(--frog-opacity);
    }
}
