// Modal ======================================================================
div.modal-dialog {

    h5.modal-title {
        color: var(--color-text-inverse) !important;
        font-family: 'RobotoMono-Medium';
        text-transform: uppercase;
    }

    div.modal-body {
        color: var(--color-text-inverse);
    }

}


// Toasts =====================================================================
.toast {
    background-color: var(--color-light);
    padding: 1rem;
}
