/* Footer */

footer.footer {
    background: var(--footer-background-color);
    width: 100%;
    padding: 2rem 0;

    img[src$=".svg"] {
       filter: var(--svg-filter);
    }
}


div.footer-inner {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem .4rem;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    background-color: var(--color-background);

    img, svg {
       filter: var(--svg-filter);
    }

    div.row {
        padding: 0;
        margin: 0;
    }

    a.link-logo,
    a.link-purpose {
        display: inline-block;

        img {
            height: 32px;
        }
    }

    div.ticker-container {
        a.ticker-link {
            color: var(--color-text) !important;
            line-height: 18px;

            &:hover {
                color: var(--color-dark);
            }
        }
    }
}
