/* Forms */

form {
    background: transparent !important;
    color: var(--color-text) !important;
}

form > fieldset,
form fieldset, .form-check {
    background-color: var(--color-background) !important;
}

fieldset.form-group {

    .form-check {
        margin-left: 0px !important;
    }
}

legend {
    display: inline-block !important;
    width: auto;
    font-family: 'RobotoMono-Medium';
}

label {
    background: transparent !important;
    color: var(--color-text) !important;
    padding: .25rem .80rem .25rem 0;
    margin-bottom: .25rem;
    font-family: 'RobotoMono-Regular';
    font-size: .85rem;

    &.plain {
        border: 0px !important;
        background: transparent !important;
    }
}

label.col-form-label {
    font-size: .85rem;
    color: var(--color-text) !important;
    border-top: 1px solid var(--color-text);
    border-right: 1px solid var(--color-text);
    border-left: 1px solid var(--color-text);
    margin-right: -15px;
    padding: 5px 10px;
}

input.form-control,
select.form-control,
textarea.form-control {
    background-color: var(--color-background) !important;
    color: var(--color-text) !important;
    border: 1px solid var(--color-text) !important;
}

select.form-control {
    option {
        background-color: transparent !important;
        color: var(--color-text) !important;
    }

    option:hover {
        background-color: var(--color-lighter) !important;
        color: var(--color-text) !important;
    }

    option:selected {
        background-color: blue !important;
        color: #000000 !important;
    }
}

select:focus > option:checked { 
    background: #000 !important;
}

textarea.form-control {
    color: var(--color-text);

    &:placeholder {
        color: var(--color-light) !important;
    }
}

input.form-control-plaintext {
    border: 1px solid var(--color-text) !important;
    color: var(--color-text) !important;
    background-color: var(--color-light);
    padding-left: 10px;
}

input.form-control-sm,
input.form-control-lg {
    border-radius: 0;
}

input.form-control-file {
    background-color: transparent !important;
    color: var(--color-text) !important;
    border: 0px !important;
    display: block-inline;
}

div.form-check {
    padding-left: 0px !important;
}

label.form-check-label {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 0px;
    background-color: transparent !important;

    &:hover {
        background-color: $gray-900;
    }
}

div.custom-radio {
    border: 0px !important;

    label.custom-control-label {
        border: 0px !important;
    }
}

span.input-group-text {
    background-color: var(--color-background-inverse);
    border: 1px solid var(--color-background-inverse);
    color: var(--color-text-inverse);
}

div.custom-file {
    border: 1px solid var(--color-background-inverse);

    input[type=file] {
        border-bottom: 1px solid var(--color-background-inverse);
    }

    label.custom-file-label::after {
        background-color: var(--color-light);
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid var(--color-background-inverse);
    }
}

.custom-range::-moz-range-track {
    background-color: var(--color-light);
}

.custom-range::-moz-range-thumb {
    background-color: var(--color-background-inverse);
}
