/* List Groups */
.list-group {
    background-color: transparent;

    @include clear-ul-list-style()
}

.list-group-item {
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid var(--color-background-inverse);
    text-align: left;

    &:hover {
        color: var(--link-color);
    }

    .badge-primary {
        background-color: var(--color-background-inverse);
        color: var(--color-text-inverse);
    }

    p {
        font-family: $font-family-sans-serif;
        text-transform: initial;	
    }

    ul { 
        margin-top: .5rem !important;

        li {
            margin-bottom: 1rem !important;

            &:last-child {
                margin-bottom: 0 !important;
            }

            a {
                font-size: .95rem;
                color: var(--color-medium);
                text-transform: capitalize;

                &:before {
                }

                &:hover {
                    color: var(--color-text);
                }
            }
        }
    }
}

.list-group-item-action {

    &:hover {
        background-color: var(--list-group-item-background-hover);
    }

    &.active {
        border: 1px solid var(--color-background-inverse);
        background-color: var(--color-background);
        color: var(--color-text);
    }

    &.disabled {
        background-color: var(--list-group-item-background-hover);
    }

    h4,
    h5 {
        color: var(--color-text);
        margin-top: .75rem;
    }

    small {
        color: var(--color-medium);
    }
}

a.list-group-item,
a.list-group-item-action {
    text-transform: uppercase;
}
