// Mixins =====================================================================

@mixin clear-ul-list-style() {
    li::before {
        content: "";
        display: block;
        width: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@mixin btn-outline($color) {
  filter: none;
  border: 2px solid $color;
  border-radius: 0px;
  color: $color;
  background-color: transparent;
}

@mixin btn-outline-hover($color, $color-text) {
  filter: none;
  border: 2px solid $color;
  border-radius: 0px;
  color: $color-text;
  background-color: $color;
}
