/* SCSS for Vue Multiselect.js
 *
 * https://vue-multiselect.js.org
 * https://github.com/shentao/vue-multiselect/issues/718
 */

$vue-multiselect-padding-x: $custom-select-padding-x !default;
$vue-multiselect-padding-y: $custom-select-padding-y !default;
$vue-multiselect-min-height: $custom-select-height !default;
$vue-multiselect-option-min-height: 20px !default;
$vue-multiselect-border-radius: 0 !default;
$vue-multiselect-border-width: 1px !default;
$vue-multiselect-disabled-opacity: $btn-disabled-opacity !default;
$vue-multiselect-disabled-bg: $custom-select-disabled-bg !default;
$vue-multiselect-disabled-color: $custom-select-disabled-color !default;

$vue-multiselect-tag-font-size: $badge-font-size !default;
$vue-multiselect-tag-font-weight: normal !default;
$vue-multiselect-tag-icon-size: 1.7rem !default;
$vue-multiselect-tag-icon-bg-hover: $danger !default;
$vue-multiselect-tag-padding-x: .4rem !default;
$vue-multiselect-tag-padding-y: .25rem !default;
$vue-multiselect-tag-border-radius: $badge-border-radius !default;

$vue-multiselect-arrow-color: $custom-select-color !default;
$vue-multiselect-arrow-size: 5px !default;
$vue-multiselect-arrow-padding: 8px !default;

$vue-multiselect-spinner-size: 16px !default;
$vue-multiselect-spinner-thickness: 2px !default;
$vue-multiselect-spinner-margin: -$vue-multiselect-spinner-size/2 !default;
$vue-multiselect-spinner-color: $dark !default;

// --------------------------------
// Select field
//--

fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: inherit;
  touch-action: manipulation;
}

.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: $vue-multiselect-min-height;
  text-align: left;
  color: var(--color-text);

  & * {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

.multiselect--disabled {
  pointer-events: none;
  opacity: $vue-multiselect-disabled-opacity;
}

.multiselect--active {
  z-index: 50;

  &:not(.multiselect--above) .multiselect__current,
  &:not(.multiselect--above) .multiselect__input,
  &:not(.multiselect--above) .multiselect__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .multiselect__select {
    transform: rotateZ(180deg);
  }
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: $vue-multiselect-min-height / 2;
  line-height: $vue-multiselect-min-height / 2;
  border: none;
  border-radius: $vue-multiselect-border-radius;
  background: var(--color-background);
  padding: 0 0 0 $vue-multiselect-padding-x;
  width: calc(100%);
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: $vue-multiselect-padding-y;
  vertical-align: top;
}

.multiselect__input::placeholder {
  color: var(--color-lighter);
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
  width: auto;
}

.multiselect__input:hover,
.multiselect__single:hover {
  border-color: var(--color-light);
}

.multiselect__input:focus,
.multiselect__single:focus {
  border-color: var(--color-medium);
  outline: none;
}

.multiselect__single {
  padding-left: $vue-multiselect-padding-x;
  margin-bottom: $vue-multiselect-padding-y;
}

.multiselect__tags-wrap {
  display: inline
}

.multiselect__tags {
  min-height: $vue-multiselect-min-height;
  display: block;
  padding: $vue-multiselect-padding-y $vue-multiselect-min-height 0 $vue-multiselect-padding-y;
  border-radius: $vue-multiselect-border-radius;
  border: $vue-multiselect-border-width solid var(--color-text);
  background: var(--color-background);
  font-family: inherit;
  font-size: inherit;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: $vue-multiselect-tag-padding-y ($vue-multiselect-tag-icon-size + $vue-multiselect-tag-padding-x) $vue-multiselect-tag-padding-y $vue-multiselect-tag-padding-x;
  border-radius: $vue-multiselect-tag-border-radius;
  margin-right: $vue-multiselect-tag-padding-x;
  color: var(--color-text);
  background: var(--color-light);
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  font-size: $vue-multiselect-tag-font-size;
  font-weight: $vue-multiselect-tag-font-weight;
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: $vue-multiselect-tag-padding-y;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-style: initial;
  width: $vue-multiselect-tag-icon-size;
  text-align: center;
  line-height: $vue-multiselect-tag-icon-size;
  transition: all 0.2s ease;
  font-size: $vue-multiselect-tag-font-size;
  font-weight: $vue-multiselect-tag-font-weight;
}

.multiselect__tag-icon:after {
  content: "×";
  color: var(--color-text);
  font-size: 220%;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: $vue-multiselect-tag-icon-bg-hover;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: var(--color-text);
}

.multiselect__current {
  line-height: $vue-multiselect-min-height / 2;
  min-height: $vue-multiselect-min-height;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 8px 30px 0 12px;
  white-space: nowrap;
  margin: 0;
  text-decoration: none;
  border-radius: $vue-multiselect-border-radius;
  border: 1px solid var(--color-text);
  cursor: pointer;
}

.multiselect__select {
  line-height: $vue-multiselect-min-height / 2;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: $vue-multiselect-min-height;
  height: $vue-multiselect-min-height;
  right: 0;
  top: 0;
  padding: ($vue-multiselect-arrow-padding) $vue-multiselect-arrow-padding;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.multiselect__select:before {
  position: relative;
  right: 0;
  top: 50%;
  color: var(--color-text);
  border-style: solid;
  border-width: $vue-multiselect-arrow-size $vue-multiselect-arrow-size 0 $vue-multiselect-arrow-size;
  border-color: var(--color-text) transparent transparent transparent;
  content: "";
}

.multiselect__placeholder {
  color: var(--color-lighter);
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 2px;
}

.multiselect--active .multiselect__placeholder {
  display: none;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: var(--color-background);
  width: 100%;
  max-height: 240px;
  overflow: auto;
  border: $vue-multiselect-border-width solid var(--color-text);
  border-top: none;
  border-bottom-left-radius: $vue-multiselect-border-radius;
  border-bottom-right-radius: $vue-multiselect-border-radius;
  z-index: 50;
  -webkit-overflow-scrolling: touch;
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
}

.multiselect--above .multiselect__content-wrapper {
  bottom: 100%;
  border-radius: 0;
  border-bottom: none;
  border-top: $vue-multiselect-border-width solid var(--color-text);
}

.multiselect__content::webkit-scrollbar {
  display: none;
}

.multiselect__element {
  display: block;
  padding: 0;
  margin: 0;
}

.multiselect__option {
  display: block;
  padding: .75rem 1rem;
  margin: 0;
  min-height: $vue-multiselect-option-min-height;
  line-height: $vue-multiselect-option-min-height / 2;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.multiselect__option:after {
  top: 0;
  right: 0;
  position: absolute;
  line-height: $vue-multiselect-option-min-height;
  padding-right: 12px;
  padding-left: 20px;
  font-family: inherit;
  font-size: inherit;
  color: var(--color-light);
}

.multiselect__option--highlight {
  background: var(--color-light);
  outline: none;
  color: var(--color-text);
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: var(--color-light);
  color: var(--color-text);
}

.multiselect__option--selected {
  background: var(--color-medium);
  color: var(--color-text);
  font-weight: bold;
}

.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: var(--color-background);
  color: var(--color-text);
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: var(--color-background);
  content: attr(data-deselect);
  color: var(--color-text);
}

.multiselect--disabled {
  background: $vue-multiselect-disabled-bg;
  pointer-events: none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
  background: $vue-multiselect-disabled-bg;
  color: $vue-multiselect-disabled-color;
}

.multiselect__option--disabled {
  background: $vue-multiselect-disabled-bg;
  color: $vue-multiselect-disabled-color;
  cursor: text;
  pointer-events: none;
}

.multiselect__option--group {
  background: $vue-multiselect-disabled-bg;
  color: $vue-multiselect-disabled-color;

  &.multiselect__option--highlight {
    background: $vue-multiselect-disabled-color;
    color: $vue-multiselect-disabled-bg;
  }

  &.multiselect__option--highlight:after {
    background: $vue-multiselect-disabled-color;
  }
}

.multiselect__option--disabled.multiselect__option--highlight {
  background: $vue-multiselect-disabled-bg;
}

.multiselect__option--group-selected.multiselect__option--highlight {
  background: var(--color-background);
  color: var(--color-text);
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
  background: var(--color-background);
  content: attr(data-deselect);
  color: var(--color-text);
}

.multiselect-enter-active,
.multiselect-leave-active {
  transition: all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
  opacity: 0;
}

.multiselect__strong {
  margin-bottom: $vue-multiselect-padding-y;
  line-height: $vue-multiselect-min-height/2;
  display: inline-block;
  vertical-align: top;
}

// --------------------------------
// Spinner
//--

.multiselect__spinner {
  position: absolute;
  right: 0;
  top: 0;
  width: $vue-multiselect-min-height;
  height: $vue-multiselect-min-height;
  display: block;

  &:before,
  &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: $vue-multiselect-spinner-margin 0 0 $vue-multiselect-spinner-margin;
    width: $vue-multiselect-spinner-size;
    height: $vue-multiselect-spinner-size;
    border-radius: 100%;
    border: $vue-multiselect-spinner-thickness solid transparent;
    border-top-color: $vue-multiselect-spinner-color;
    box-shadow: 0 0 0 1px transparent;
    background: var(--color-background);
  }

  &:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
  }

  &:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(2turn)
  }
}

// --------------------------------
// Loading state
//--

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
  opacity: 0;
}

// --------------------------------
// RTL adjustments
//--

*[dir="rtl"] {
  .multiselect {
    text-align: right;
  }

  .multiselect__select {
    right: auto;
    left: 1px;
  }

  .multiselect__tags {
    padding: $vue-multiselect-padding-y $vue-multiselect-padding-y 0 $vue-multiselect-min-height;
  }

  .multiselect__content {
    text-align: right;
  }

  .multiselect__option:after {
    right: auto;
    left: 0;
  }

  .multiselect__clear {
    right: auto;
    left: 12px;
  }

  .multiselect__spinner {
    right: auto;
    left: 1px;
  }
}

// @see https://github.com/shentao/vue-multiselect/issues/718#issuecomment-471195859

.multiselect__placeholder {
  color: var(--color-lighter);
  display: inline-block;
  margin-bottom: 0;
  padding-top: 0;
  margin-left: 12px;
}

// is-valid / is-invalid state handling
// @see node_modules/bootstrap/scss/_forms.scss:262
@each $state, $data in $form-validation-states {
  $color: map-get($data, color);
  $icon: map-get($data, icon);
  .form-group.is-#{$state} .multiselect__tags {
    border-color: $color;

    @if $enable-validation-icons {
      padding-right: $custom-select-feedback-icon-padding-right;
      background: escape-svg($icon) $custom-select-bg no-repeat $custom-select-feedback-icon-position / $custom-select-feedback-icon-size;
    }

    &:focus {
      border-color: $color;
      box-shadow: 0 0 0 $input-focus-width rgba($color, .25);
    }
  }
}
