/* Navs */

.nav {
    @include clear-ul-list-style();

    .dropdown-menu {
        border: 0px solid var(--nav-border);

        .dropdown-item {
            &:hover {
                background-color: var(--color-background);
                color: var(--color-text);
            }
        }
    }
}

/* Tabs */
.nav-tabs {
    border-bottom: 1px solid var(--nav-active-color);

    @include clear-ul-list-style();

    .nav-tab.show {
        .nav-link {
            color: var(--nav-color) !important;
            background-color: transparent !important;
            border-color: 1px solid transparent !important;
        }

        .dropdown-menu {
            border: 1px solid var(--nav-border);

            .dropdown-item {
                &:hover {
                    background-color: var(--color-light);
                    color: var(--color-text);
                }
            }
        }
    }

    .nav-link {
        background-color: transparent !important;
        color: var(--nav-color) !important;

        &:hover,
        &:focus {
            border: 1px solid transparent;
        }

        &.active {
            // background-color: var(--nav-active-background) !important;
            color: var(--nav-active-color) !important;
            border-top: 1px solid var(--nav-border) !important;
            border-left: 1px solid var(--nav-border) !important;
            border-right: 1px solid var(--nav-border) !important;
            border-bottom: 1px solid var(--nav-border-inverse) !important;

            i {
                color: var(--nav-active-color) !important;
            }
        }

        &.disabled {
            color: var(--nav-disabled-color) !important;
        }
    }
}

.tab-content > .tab-pane {
    border-top: 0px !important;
    border-right: 1px solid var(--color-text) !important;
    border-bottom: 1px solid var(--color-text) !important;
    border-left: 1px solid var(--color-text) !important;
    padding: 1rem 1.5rem 0 1.5rem;
}


/* Pills */
.nav-pills {

    @include clear-ul-list-style();

    .nav-link {
        background-color: transparent !important;
        color: var(--color-text);

        &.active {
            border: 1px solid var(--nav-active-background) !important;
            color: var(--nav-active-color) !important;

            i {
                color: var(--nav-active-color) !important;
            }
        }
    }

    .nav-item {
        &.show {
            .nav-link {
                color: var(--color-text);
            }
        }
    }
}



/* Breadcrumbs */
.breadcrumb {
    border: 1px solid var(--color-background-inverse);
    background-color: transparent !important;
    font-size: .75rem;

    .breadcrumb-item {
        margin-right: .4rem;

        &::before {
            content: " ";
            padding-right: .5rem;
        }

        &::after {
            content: " > ";
            color: var(--color-text);
            padding-left: .4rem;
        }

        padding-left: 0px;

        a {
            color: var(--color-text);
            font-size: .75rem;

            &:hover {
                text-decoration: underline;
            }
        }

        &.active {
            text-transform: uppercase;
            color: var(--color-light);

            &::after {
                content: "_";
                color: var(--color-light);
                padding-left: .25rem !important;
            }
        }
    }
}


/* Pagination */
.pagination {
    @include clear-ul-list-style();
}

.pagination-sm,
.pagination-lg {
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 0px;
    }
}

.page-item {

    &.disabled {
        .page-link {
            border: 1px solid var(--color-background-inverse);
        }
    }

    &.active {
        background-color: var(--color-background-inverse) !important;
        border: 0px;
        color: var(--color-text-inverse);

        .page-link {
            border: 1px solid var(--color-background-inverse);
            color: var(--color-text-inverse);
        }
    }

    .page-link {
        background-color: transparent !important;
        border: 1px solid var(--color-background-inverse);
        color: var(--color-text);
    }

    &:hover {
        background-color: var(--color-lighter);
    }

}
