/* Main Navbar */

.navbar {
    border: 0;
    box-shadow: 0 0 0;
    background: transparent;
    margin: 0 0 1rem 0;
    padding: 0 0;

    // Site
    &.navbar-clear {
        height: 100px;
    }

    // App
    &.navbar-app {
        border-top: 1px solid var(--color-text);
        border-bottom: 1px solid var(--color-text);

        a.navbar-app {
            font-family: 'RobotoMono-Bold';
            font-size: 1.75rem;
            line-height: 1;
            color: var(--color-text);
            text-transform: uppercase !important;
            padding: 0;
            margin: 0;

            img {
                max-height: 30px;
                display: inline-block;
                margin-right: 1rem;
                margin-top: -5px;
            }
        }
    }

    img[src$=".svg"] {
        filter: var(--navbar-filter);
    }

    a.navbar-brand {
        font-family: 'RobotoMono-Regular';
        font-size: 16px;
        line-height: 16px;
        color: var(--link-color);
        text-transform: uppercase;
        padding: 0;
        margin: 0;

        img {
            max-height: 50px;
            display: inline-block;
            margin-right: 0.5rem;
        }

        span {
            position: relative;
            top: 0px;
            left: 0px;
            font-size: 16px;
            font-family: 'RobotoMono-Regular';
            line-height: 16px;
            color: var(--link-color);

            &:hover {
                color: var(--link-color-hover) !important;
            }
        }
    }

    ul.navbar-nav {
        @include clear-ul-list-style()
    }

    li.nav-item {
        display: inline-block;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        img[src$=".svg"] {
            filter: var(--navbar-filter);
            height: 24px;
        }

        a.nav-link {
            color: var(--link-color);
            text-transform: uppercase !important;

            &:hover {
                color: var(--link-color-hover) !important;

                img[src$=".svg"] {
                    filter: invert(42%) brightness(100%);
                }
            }
        }

        div.dropdown-menu {
            min-width: 350px !important;
            right: 0px;
            padding: 0;
            background: var(--navbar-dropdown-background);
            border: 1px solid var(--navbar-dropdown-border-color);

            div.dropdown-divider {
                margin: 0;
                border-top: 1px solid var(--color-medium);
            }

            a.dropdown-item {
                display: block;
                padding: .75rem 1rem;
                color: var(--navbar-dropdown-color);

                img[src$=".svg"] {
                    filter: var(--navbar-dropdown-filter);
                }

                i {
                    color: var(--navbar-dropdown-color);
                }

                &:hover {
                    background: var(--navbar-dropdown-color);
                    color: var(--navbar-dropdown-color-hover);

                    i {
                        color: var(--navbar-dropdown-color-hover);
                    }

                    img[src$=".svg"] {
                        filter: var(--navbar-dropdown-filter-hover);
                    }
                }
            }
        }
    }

    button.navbar-toggler {
        border: 1px solid var(--color-text);
        border-radius: 0px;
        background-color: transparent;

        span.navbar-toggler-icon {
            background: transparent url($icon-navbar-toggler) no-repeat;
            background-size: contain;
            filter: var(--svg-filter);
            color: var(--color-text);
        }
    }

    .navbar-collapse {
        background: transparent;
        z-index: 10000;

        &.show {
            background: var(--color-background-inverse);

            a.nav-link {
                color: var(--color-background);
                &:hover {
                    color: $gray-600 !important;
                }

                img[src$=".svg"] {
                    filter: var(--svg-filter-inverse);
                }
            }
        }

        a.nav-link {
            color: var(--color-text);

            &:hover {
                color: var(--color-text) !important;
            }
        }

        a.dropdown-item {
            &:hover {
                i.fa {
                    color: var(--color-text-inverse);
                }
            }
        }

        form {
            input.form-control {
                border: 0px !important;
                &:focus {
                    border: 0px;
                    box-shadow: 0 0 0 0;
                }
            }

            button {
                border: 0px !important;
                font-size: 1rem;
            }
        }
    }
}

.navbar-left {
    @include clear-ul-list-style();

    border-right: 1px solid var(--nav-active-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    .nav-item {
        border: 1px solid transparent;

        &.active {
            background-color: var(--navbar-link-active-color);
        }

        img[src$=".svg"] {
            filter: var(--svg-filter);
        }
    }
}
