/* Table */

.table {

    thead tr th {
        border-bottom: 1 solid var(--color-text) !important;
        color: var(--color-light);
        padding: 0.5rem 0.75rem;
        font-size: 0.85rem;
    }

    tbody + tbody {
        border-top: 1 solid var(--color-text) !important;
    }

    tr > th,
	tr td {
		color: var(--color-text);
	}

	tr td a {
		color: var(--link-color);
		text-decoration: wavy underline var(--link-color) 1px;

        &:hover {
		    color: var(--link-color-hover);
		    text-decoration: wavy underline var(--link-color-hover) 1px;
        }
    }

  tr.table-active th,
	tr.table-active td {
        background-color: var(--color-lighter);
        color: var(--color-text) !important;
	}

  tr.table-active {
      &:hover {
          background-color: var(--color-light);
      }
  }

  tr.table-primary,
  tr.table-primary > th,
	tr.table-primary td {
      background-color: transparent;
      color: var(--color-text) !important;
  }

  tr.table-primary {
      &:hover {
          background-color: var(--color-background-inverse);
          color: var(--color-text-inverse) !important;
      }
  }

	tr.table-secondary,
    tr.table-secondary > th,
    tr.table-secondary td {
        background-color: transparent;
        color: var(--color-text) !important;
	}

    tr.table-success,
    tr.table-success > th,
    tr.table-success > td {
        background-color: transparent;
        color: var(--color-success);
    }

    tr.table-info,
    tr.table-info > th,
    tr.table-info > td {
        background-color: transparent;
        color: var(--color-info);
    }

    tr.table-warning,
    tr.table-warning > th,
    tr.table-warning > td {
        background-color: transparent;
        color: var(--color-warning);
    }

    tr.table-danger,
    tr.table-danger > th,
    tr.table-danger > td {
        background-color: transparent;
        color: var(--color-danger);
    }

    tr.table-light,
    tr.table-light > th,
    tr.table-light > td {
        background-color: var(--color-lighter);
        color: var(--color-medium);
    }

    tr.table-dark,
    tr.table-dark > th,
    tr.table-dark > td {
        background-color: var(--color-darker);
        color: var(--color-medium);
    }
}


/* Markdown Gen Tables */
article main table {

    width: 100%;
    margin-bottom: 1.5rem;
    border: $table-border-width solid $table-border-color;

    th,
    td {
        border: $table-border-width solid $table-border-color;
        padding: $table-cell-padding;
        vertical-align: top;
    }

    thead {
        th,
        td {
            border-bottom-width: 2 * $table-border-width;
        }
    }


    thead th {
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid $table-border-color;
    }

    tbody + tbody {
        border-top: (2 * $table-border-width) solid $table-border-color;
    }

    thead tr th {
        border-bottom: 1 solid var(--color-text) !important;
        color: var(--color-light);
        padding: 0.5rem 0.75rem;
        font-size: 0.85rem;
    }

    tbody + tbody {
        border-top: 1 solid var(--color-text) !important;
    }

  tr > th,
	tr td {
		color: var(--color-text);
	}

	tr td a {
		color: var(--link-color);
		text-decoration: wavy underline var(--link-color) 1px;

    &:hover {
		    color: var(--link-color-hover);
		    text-decoration: wavy underline var(--link-color-hover) 1px;
    }
  }

  tbody tr {
      &:hover {
          background-color: var(--color-lighter) !important;
          color: var(--color-text-inverse) !important;
      }
  }

}
