/* Typography */
h1, h2, h3, h4 {
    font-family: 'RobotoMono-Bold';
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: 'Roboto-Bold' !important;
    text-transform: inherit !important;
}

h1.boxed,
h2.boxed,
h3.boxed,
h4.boxed,
h5.boxed,
h6.boxed {
    display: inline-block;
    background-color: var(--emphasis-background-color);
    color: var(--color-text);
    padding: 0.5rem .85rem;
}

i,
em {
    font-family: 'Roboto-Italic';
    letter-spacing: 1px;
}

b,
strong {
    font-family: 'Roboto-Bold';
    font-weight: 900;
}

time,
date {
    font-family: 'RobotoMono-Regular';
}

a {
    color: var(--link-color);
    text-decoration: none;
    text-transform: inherit;
    font-family: 'RobotoMono-Regular', 'Roboto';

    &:hover {
        font-family: 'RobotoMono-Regular', 'Roboto';
        color: var(--link-color-hover);
        text-decoration: none;
    }

    &:active {
        color: var(--color-success);
    }
}

p {
    margin-bottom: 1rem;

    a {
        text-decoration: wavy underline var(--color-light) 1px;
        text-underline-offset: 4px;

        &:hover {
            text-decoration: wavy underline var(--link-color-hover) 1px;
        }

        &:active {
            text-decoration-color: var(--color-success);
        }
    }
}

p.detail {
    display: block;
    font-family: 'RobotoMono-Regular', 'Roboto';
    font-style: normal;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 9px;
    line-height: 2rem;
}

.text-primary {
    color: var(--color-text) !important;
}

ul, ol {
    padding-left: 2rem;
}

ul {
    list-style-type: none;

    li::before {
        content: "▪";
        color: var(--color-light);
        display: inline-block;
        width: 1em;
        margin-left: -1rem;
        margin-right: .5rem;
    }
}

ol {
    list-style: none;
    counter-reset: li;

    li::before {
        content: counter(li);
        color: var(--color-light);
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        margin-right: .5rem;
    }

    li {
        counter-increment: li;
    }
}

dl {
    dt {
        font-weight: bold;
        color: var(--color-light);
    }
}

.list-unstyled {
    li {
        margin-right: 0;
        margin-left: 0;
        padding: 0;

        &:before {
            content: "" !important;
            display: inline;
            width: 0;
            margin: 0;
        }
    }
}

.list-arrows {
    margin-left: 3rem;
    padding: 0;

    li {
        position: relative;

        &:before {
            content: "" !important;
            background-size: 11px;
            background-image: url("/images/list-triangle-gray.svg");
            width: 11px;
            height: 11px;
            position: absolute;
            top: 6px;
            left: -1rem;
        }
    }
}

code {
    display: inline-block;
    background-color: var(--emphasis-background-color);
    color: var(--color-warning);
    padding: .25rem .35rem .35rem .35rem;
    margin-right: .35rem;
    margin-left: .35rem;
    font-size: .8rem;
    line-height: 1rem;
}

hr {
    border: 0px;
    border-top: 1px solid var(--divider-bar-color);

    &.light {
        border-top: 1px solid var(--divider-bar-color-light);
    }

    &.thick {
        border: 4px solid var(--divider-bar-color);
    }

    &.thick-light {
        border: 4px solid var(--divider-bar-color-light);
    }
}

blockquote {
    color: var(--color-text);
    background-color: var(--emphasis-background-color);
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 1.5rem;

    p {
        padding: 0;
        margin-bottom: 1rem;
        font-family: 'Roboto-Italic', 'Roboto Italic', sans-serif;

        a {
            font-family: 'Roboto-Italic', 'Roboto Italic', sans-serif;
            color: var(--color-text);
            text-transform: inherit;

            &:hover {
                font-family: 'Roboto-Italic', 'Roboto Italic', sans-serif;
                font-style: italic;
            }
        }
    }

    a {
        color: var(--color-text);
    }

    footer {
        text-align: right;

        cite {
            color: var(--color-text);
        }
    }
}

pre {
    background-color: var(--emphasis-background-color);
    font-family: 'RobotoMono-Regular', monospace;
    padding: 0;
    margin: 0;

    code {
        color: var(--color-warning);
        font-family: 'RobotoMono-Regular', monospace;
        padding: 1.5rem 1.25rem;
    }
}

