$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px) !default;
$enable-responsive-font-sizes: true;

// Colors
$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e6e6e6 !default;
$gray-300: #cccccc !default;
$gray-400: #bbbbbb !default;
$gray-500: #adb5bd !default;
$gray-600: #777777 !default;
$gray-700: #444444 !default;
$gray-800: #212121 !default;
$gray-900: #111111 !default;
$black:    #000000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #9B479F !default;
$pink:    #e83e8c !default;
$red:     #D9230F !default;
$orange:  #F98E05 !default;
$yellow:  #ffc107 !default;
$green:   #469408 !default;
$teal:    #20c997 !default;
$cyan:    #029ACF !default;

$primary:       $white !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          $gray-800 !default;

$enable-gradients:  false !default;
$box-bg-color: #ccc !default;

// Spacing & Style
$border-radius:     0px;
$border-radius-lg:  0px;

// Body
$body-bg: $black !default;
$body-color: $white;

$font-stack: 'Roboto-Regular', sans-serif;
$regular: 'Robot-Regular', sans-serif;
$medium: 'Roboto-Medium', sans-serif;
$bold: 'Roboto-Bold', sans-serif;

$font-family-sans-serif: $font-stack;
$font-family-monospace: 'RobotoMono-Regular';
$font-size-base: 1rem !default;
$font-size-details: .8rem;

$btn-border-radius-sm: 0px;

$input-bg: transparent !default;
$input-border-color: $white !default;

$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

$navbar-nav-link-padding-x:         1.25rem !default;

$nav-link-padding-y:                1rem !default;
$nav-link-disabled-color:           $gray-400 !default;
$nav-tabs-border-color:             darken(#fff, 6.5%) !default;

$pagination-border-color:           $nav-tabs-border-color !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary !default;
$pagination-hover-border-color:     $primary !default;
$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-border-color:  $pagination-border-color !default;

$jumbotron-bg:                      $nav-tabs-border-color !default;

$table-cell-padding:                .75rem !default;
$table-cell-padding-sm:             .3rem !default;
$table-bg:                          transparent !default;
$table-accent-bg:                   rgba($black, 0.1) !default;
$table-hover-bg:                    rgba($black, 0.1) !default;
$table-active-bg:                   $table-hover-bg !default;
$table-active-color:                $primary !default;
$table-border-width:                1px !default;
$table-border-color:                $gray-300 !default;
$table-head-bg:                     $gray-200 !default;
$table-head-color:                  $gray-700 !default;

$table-dark-bg:                     $gray-900 !default;
$table-dark-accent-bg:              $gray-900 !default;
$table-dark-hover-bg:               rgba($white, 1) !default;
$table-dark-border-color:           lighten($gray-900, 7.5%) !default;
$table-dark-color:                  $body-bg !default;

$table-striped-order:               odd !default;
$table-caption-color:               $gray-500 !default;

$card-border-color:                 $nav-tabs-border-color !default;

$popover-border-color:              $nav-tabs-border-color !default;

$modal-content-border-color:        $nav-tabs-border-color !default;
$modal-header-border-color:         $nav-tabs-border-color !default;

$progress-bg:                       $gray-800 !default;
$progress-bar-color:                $gray-800 !default;
$progress-bar-bg:                   $primary !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;

$list-group-border-color:           $nav-tabs-border-color !default;
$list-group-disabled-bg:            $nav-tabs-border-color !default;

$breadcrumb-bg:                     $white !default;
$breadcrumb-padding-y:              .5rem;
$breadcrumb-padding-x:              .5rem;

$alert-border-width:                0px;
$alert-bg-level:                    1 !default;
$alert-border-level:                0 !default;
$alert-color-level:                 -10 !default;
